@charset "UTF-8";

/*
    * Folha de estilo da divisao
    $ Autor: Tiago Hellebrandt Silva.
*/

table {
    border-spacing: 0px;
}
/*td do resultado*/
td.rbt {
    border-top: 1px solid black;
}
/*td primeiro caracter do denominador*/
td.apb {
    border-left: 1px solid black;
}

table#tabres td {
    vertical-align: top;
}
/*td sugundo numero para subtração*/
td.beb {
    border-bottom: 1px solid black;
}

table.exemplo td {
    vertical-align: top;
}

td {
	text-align: center;
}